.home-container {
    padding: 20px;
}

.welcome-heading {
    text-align: center;
    margin-bottom: 10px;
}

.count-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.count-label {
    font-weight: bold;
}

.count-value {
    font-size: 1.2em;
}